.container {
    margin-bottom: 20px;
    background-color: rgb(148, 137, 137);
    font-family: 'Berkshire Swash', cursive;
    border-radius: 12px;
}
h1 {
    font-size: 4em;
    text-align: center;
    color: white;
}
h2 {
    font-size: 2em;
    text-align: center;
    color: white;
}

.photo-div {
    text-align: center;
}

img {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    margin-bottom: 25px;
}

body {
    background-color: rgb(104, 86, 86);
    font-family: 'Berkshire Swash', cursive;
}

.fa-instagram {
    color: rgb(77, 48, 48);
    font-size: 1.5em;
}

/*file edits(add)*/
#button {
    color: rgb(77, 48, 48);
}

form,
#id_phot0 {
    margin-top: 12px;
    margin-bottom: 12px;
}

label,
i,
.errorlist,
input {
    font-size: 20px;
    color: rgb(77, 48, 48);
}

.btn {
    background-color: rgb(148, 137, 137);
    color: rgb(77, 48, 48);
    font-size: 12px;
}

#special {
    color: rgb(255, 255, 255);
    background-color: rgb(77, 48, 48);
    font-size: 13px;
}
